<div class="col s12 m6 l4">
  <div class="card large">
    <div class="card-image">
      <img src="/img/pexels-lukas-1420701.jpg" width="" height="200px" alt="curry-img" />
    </div>

    <div class="card-content blog-card" data-bid="<%= arr[index]._id %>">

      <p>@<%= arr[index].author %></p>
      <br />
      <span class="card-title b-title"><%= arr[index].title %></span>
      <span class="card-body b-date">
        <%= arr[index].createdAt.toString().slice(4, 15) %>
      </span>
    </div>

    <div class="card-action">
      <% if (arr[index].tags.length) { %>
      <% arr[index].tags.forEach(function (curr, ind, arr1){ %>
      <div class="left-align tags"
        style="border: 1px solid black; border-radius: 15px; display:inline-block;padding:0.4em;">
        <!-- <a href="#" style="cursor: none"><%= arr[index].author %></a> -->
        <%= arr[index].tags[ind] %>
      </div>
      <% } ) %>

      <% } %>

      <% if (isMyBlog) { %>
      <div style="margin-top: 1em;">
        <a class="btn-floating btn-small updatebtn tooltipped" data-position="bottom" data-tooltip="Edit"><i
            class="edit fas fa-pencil-alt"></i></a>
        <a class="btn-floating btn-small deletebtn tooltipped" data-position="bottom" data-tooltip="Delete"><i
            class="edit fas fa-trash"></i></a>
      </div>
      <% } %>
    </div>
  </div>
</div>